<main>
  <h1>Quem é a Jess?</h1>
  <section>
    <h2>Valores</h2>
      <p>Acredito muito que todas as relações são baseadas no respeito, na confiança e na empatia.</p>
    <h2>Hobbies</h2>
    <ul>
      <li>Amo praticar tecido acrobático!</li>
      <li>Gosto de fazer crochê e colorir, mas não sou muito boa em nenhum dos dois!</li>
      <li>Amo DIY, tudo que posso faço eu mesma.</li>
      <li>Amo viajar e ir a festivais de música!</li>
    </ul>
    <h2>Lar</h2>
      <p>Sou goiana com muito amor e orgulho! Morei em Goiânia até 2020, depois vim pra São Paulo e tô aqui até hoje. Também já fiz intercâmbio nos Estados Unidos e na França.</p>
      <p>Costumo dizer que lar é onde eu me sinto bem e em paz comigo mesma.</p>
    <h2>Trabalho</h2>
      <p>Depois de me formar em Engenharia Civil, em 2019, tentei estudar para concurso público mas não deu muito certo. Vim pra São Paulo trabalhar em um escritório de arquitetura e um ano depois comecei a estudar programação. Agora cá estou na Codeminer42, que me deu minha primeira oportunidade de trabalho na área.</p>
    <h2>Família</h2>
      <p>Meu pai se chama Genilson e minha mãe se chama Idelma. Tenho dois irmãos, a Letícia e o João Pedro, e duas doguinhas, a Amora e a Estrella. Essa turminha é tudo pra mim! s2</p>
    <h2>Educação</h2>
      <p>Sou Engenheira Civil e Técnica em Edificações por formação, os dois cursos feitos no IFG.</p>
      <p>Participei do Ciência sem Fronteiras em 2014 e fiquei um ano e meio estudando no Alabama, nos Estados Unidos, voltei e me formei em 2018.</p>
      <p>Agora, em transição para a Engenharia de Software, sou aluna da École 42 São Paulo.</p>
    <h2>Metas</h2>
    <ul>
      <li>Me tornar uma desenvolvedora bem foda!</li>
      <li>Ter filhos.</li>
      <li>Morar na praia.</li>
      <li>Aprender Espanhol e aperfeiçoar o Francês.</li>
      <li>Viajar o mundo!</li>
    </ul>
    <h2>Curiosidades</h2>
    <ul>
      <li>Tenho 29 anos.</li>
      <li>Sou feminista e anti-fascista.</li>
      <li>Minha cor preferida é amarelo.</li>
      <li>Amo ouvir música e gosto de tudo um pouco, mas o indie rock e a música eletrônica têm meu coração.</li>
      <li>Sou apaixonada por festivais de música.</li>
      <li>Sou escorpiana com ascendente em peixes e lua em touro.</li>
    </ul>
  </section>
</main>
