<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About me!</title>
</head>
<body>
  <main>
    <h1>Quem é a Jess?</h1>
    <section>
      <h2>Valores</h2>
        <p>Acredito muito que todas as relações são baseadas no respeito, na confiança e na empatia.</p>
      <h2>Hobbies</h2>
      <ul>
        <li>Amo praticar tecido acrobático!</li>

      </ul>
    </section>
  </main>
  <nav>
    <p><a href="my_prs.html">My PRs</a></p>
    <p><a href="academic.html">My Academic Life</a></p>
  </nav>
</body>
</html>
