<section>
  <h1>Minha vida acadêmica</h1>
  <h2>Curso Técnico</h2>
  <p>Juntamente com o ensino médio, fiz um curso técnico em Edificações, no IFG (Instituto Federal de Educação, Ciência e Tecnologia de Goiás). O curso + ensino médio teve a duração de 4 anos, com as disciplinas básicas e disciplinas técnicas.
    Ao final, eu tinha apenas 18 anos e já tinha uma profissão. Podia fazer e executar projetos de edificações térreas de até 100m².</p>
  <p>Este curso foi de fundamental importância na minha trajetória pois adquiri muita responsabilidade, aprendi a trabalhar realizando meu primeiro estágio e tive meu primeiro
    contato com o ambiente acadêmico, além do contato com disciplinas técnicas que me ajudariam muito durante a faculdade.</p>
  <h2>Graduação</h2>
  <p>Em 2012 eu dei início à graduação. Comecei o curso de Engenharia Civil na UFTM (Universidade Federal do Triângulo Mineiro), onde fiquei por apenas 3 meses, pois fui aprovada
    no vestibular do IFG e voltei para Goiânia antes mesmo de concluir o primeiro semestre em Uberaba.</p>
  <p>De volta a Goiânia, comecei novamente o curso de Engenharia Civil, dessa vez no IFG. Em todo o tempo que estudei no IFG, não participei de Iniciações Científicas nem de outros projetos de pesquisa. Só fui ter contato com a pesquisa em 2015,
    durante o intercâmbio que fiz nos Estados Unidos pelo programa Ciência Sem Fronteiras do Governo Federal. Lá participei de uma pesquisa que envolvia simulação de tráfego para análise de viabilidade
    de implantação de um semáforo em uma cidade do Alabama.</p>
  <p>Voltei para o Brasil muito interessada na área de transportes depois de todo o contato que tive durante o intercâmbio, e resolvi que faria meu trabalho de conclusão de curso nessa área. A partir daí passei a cursar disciplinas optativas relacionadas
    a transportes e infraestrutura. Em 2017, quando chegou o momento de escolher o orientador do TCC, falei com um dos professores das disciplinas optativas e ele topou me orientar.</p>
  <h2>O TCC</h2>
  <p>Meu trabalho de conclusão de curso tratou de analisar a eficácia de radares fixos instalados no trecho de uma rodovia estadual que liga Goiânia a Trindade, uma das principais cidades do entorno.</p>
  <p>O trabalho consistiu em coletar dados de acidentes antes e depois da instalação dos radares e realizar a análise desses dados para investigar se houve redução do número de acidentes após a instalação dos equipamentos. Ao final, constatamos que de fato 
    houve tal redução, comprovando a eficácia dos dispositivos.</p>
  <p>Realizei a defesa do trabalho em dezembro de 2018 e fui aprovada com nota máxima.</p>
</section>
