<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Bem vindo à minha página!</h1>
  <nav>
    <h2>Links</h2>
    <p><a href="about">Sobre mim</a></p>
    <p><a href="prs">Minhas PRs</a></p>
    <p><a href="academic">Minha Vida Acadêmica</a></p>
  </nav>
</body>
</html>
