<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jessica Pinheiro</title>
</head>
<body>
  <header>
    <h1>JÉSSICA PINHEIRO</h1>
    <a href="about">Sobre mim</a>
    <a href="prs">Minhas PRs</a>
    <a href="academic">Minha Vida Acadêmica</a>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <p>Site desenvolvido por Jéssica Pinheiro.</p>
  </footer>
</body>
</html>
