<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minhas PRs</title>
</head>
<body>
  <main>
    <h1>Minhas PRs - Codeminer42</h1>
    <section>
      <h2>LogParserChallenge</h2>
      <ul>
        <li><a href="https://github.com/jesrodri/LogParserChallenge/pull/1">Feature01</a></li>
        <li><a href="https://github.com/jesrodri/LogParserChallenge/pull/2">Feature02</a></li>
        <li><a href="https://github.com/jesrodri/LogParserChallenge/pull/3">Rubocop and Simplecov</a></li>
        <li><a href="https://github.com/jesrodri/LogParserChallenge/pull/4">Feature03</a></li>
      </ul>
      <h2>SinatraChallenge</h2>
      <ul>
        <li><a href="https://github.com/jesrodri/SinatraChallenge/pull/1">New task to test Sinatra</a></li>
        <li><a href="https://github.com/jesrodri/SinatraChallenge/pull/2">Task to learn how to write tests in Sinatra</a></li>
        <li><a href="https://github.com/jesrodri/SinatraChallenge/pull/3">Task to create first route of the challenge</a></li>
        <li><a href="https://github.com/jesrodri/SinatraChallenge/pull/4">Task to create second route of the challenge</a></li>
        <li><a href="https://github.com/jesrodri/SinatraChallenge/pull/5">Task to create third route of the challenge</a></li>
      </ul>
    </section>
    <nav>
      <h2>Outros links</h2>
      <p><a href="about">Sobre mim</a></p>
      <p><a href="academic">Minha Vida Acadêmica</a></p>
    </nav>
  </main>
</body>
</html>
